<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modify User Info</title>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="/static/navbar.js"></script>
	<script src="/static/navbar_action.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<style>
		body {
			padding-top: 60px;
			padding-left: 50px;
			background:silver;
		}
    </style>
</head>
<body>
	<div class="container">
		<div class="col-lg-4 col-md-offset-4" style="background:white; padding:20px; border-radius:5px; position:relative;">
			<form method=POST enctype="multipart/form-data" action="/modifyPassword/">
                {% csrf_token %}
			<div class="panel panel-danger" >
   				<div class="panel-heading">
      				<h3 class="panel-title">修改用户密码</h3>
   				</div>
				<table class="table table-hover">
					<tr><th><span class="glyphicon glyphicon-lock"></span><b>old password</b><td><input  type=password  name=password0 placeholder="password">
					<tr><th><span class="glyphicon glyphicon-lock"></span><b>new password</b><td><input  type=password  name=password1 placeholder="password">
					<tr><th><span class="glyphicon glyphicon-lock"></span><b>commit password</b><td><input  type=password  name=password2 placeholder="password">
				</table>
				<p><input type=submit value="提交" class="btn btn-default"  name=action></p>
			</div>
			</form>
		</div>
	</div>
</body>
</html>