<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="gb2312">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="navbar.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    
</head>
<body>
<h3>New User Register</h3>
<form method=POST action="/register/">
	{% csrf_token %}
	<table>
		<tr><th><span class="glyphicon glyphicon-user"></span><b>nick-name</b><td><input  type=text  name=nick-name placeholder="nick-name" value = {{oldname}}>
		<tr><th><span class="glyphicon glyphicon-lock"></span><b>password</b><td><input  type=password  name=password placeholder="password">
		<tr><th><span class="glyphicon glyphicon-lock"></span><b>commit password</b><td><input  type=password  name=password1 placeholder="password">
		<tr><th><span class="glyphicon glyphicon-envelope"></span><b>E-mail</b><td><input  type=email  name=e-mail placeholder="xxx@xxx.xxx" value = {{oldemail}}>
    </table>
    <p><input type=submit value="Submit" class="btn btn-default" name=action></p>
</form>
</body>
</html>
