<!DOCTYPE html>
<html>
  <head>
    <title>Update Viedo</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="http://vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="/static/navbar.js"></script>
	<script src="/static/navbar_action.js"></script>
    <!--[if lt IE 9]>
      <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
  </head>
<body>
	<div class="container">
		<div class="col-lg-8" style="background:white; padding:20px; border-radius:5px; position:relative; left: 150px; top:20px; height: 500px;">
			<form method=POST enctype="multipart/form-data" action="/upload/">
				{{uf.as_p}}
				{% csrf_token %}
				<label for="exampleInputFile">上传视频</label>
				<hr/>
				<div class="input-group">
					<span class="input-group-addon">标题</span>
					<input type="text" class="form-control" name="VideoTitle" value="{{ VideoTitle }}">
				</div>
				<br>
				<span class="" style="font-color:black; font-size:20px;">视频简介:</span>
				<div class="form-group" style="padding:5px; position:relative; top:10px;">
					<textarea name="VideoDiscribe" rows="5" placeholder="请输入视频简介...:" style="width:100%;">{{ VideoDiscribe }}</textarea>
				</div>
				<br>
				<div class="row">
                <div class="btn-group" data-toggle="buttons">
					{% for VideoType in Types %}
                        <label class="btn btn-default" onclick="choosetype(this)">
                            <input type="radio" name="options"  id={{ VideoType.id }} >{{ VideoType.content }}
                        </label>

					{% endfor %}
                </div>
                </div>
				<br>
				<div class="form-group" style="top:0px; position:relative;">
					<input type="file" id="exampleInputFile" name = "file" accept="video/*" value = {{UploadFile}} >
				</div>
				<p><input type=submit value="Submit" class="btn btn-default"  name=action></p>
			</form>
		</div>
	</div>	
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
        function choosetype(e){
            document.cookie = 'choosedType='+e.children[0].id
        }
    </script>
  </body>
</html>
