<!DOCTYPE html>
<html>
  <head>
    <title>Update Viedo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
    body {
		padding-top: 50px;
		padding-left: 50px;
    }
    </style>
    <!--[if lt IE 9]>
      <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
	<!--导航栏-->
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="row">
					<img src="/static/AsiaTube.png" class="img-rounded">
				</div>
			</div>
			<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href = "#Home"><span class="glyphicon glyphicon-home">Home</span></a></li>
				<li class="active"><a href="#"><span class="glyphicon glyphicon-upload">Update</span></a></li>
			</ul>
			<form class="navbar-form nav navbar-nav navbar-right" role="search">
				<div class="form-group">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="height:44px"><span class="glyphicon glyphicon-user">User<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Modify Info</a></li>
							<li><a href="#">Modify Password</a></li>
							<li class="divider"></li>
							<li><a href="#">Watch History</a></li>
							<li><a href="#">Upload History</a></li>
							<li class="divider"></li>
							<li style="display:{{Display}}"><a href="#">Verify User</a></li>
							<li style="display:{{Display}}"><a href="#">Verify Video</a></li>
							<li style="display:{{Display}}"><a href="#">Administer Type</a></li>
							<li class="divider" style="display:{{Display}}"></li>
							<li><a href="#">Log Out</a></li>
						</ul>
					</li>
				</div>
				<span class="label label-default">{{UserID}}</span>
			</form>  
			<form class="navbar-form navbar-right" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search">
				</div>
				<button type="submit" class="btn btn-default">Search</button>
			</form>   
			</div><!-- /.nav-collapse -->
		</div><!-- /.container -->
    </div>
	<div class="container">
		<div class="col-lg-8" style="background:silver; padding:20px; border-radius:5px; position:relative; left: 150px; top:20px; height: 500px;">
			<form method=POST enctype="multipart/form-data" action="/upload/">
				{{uf.as_p}}
				{% csrf_token %}
				<label for="exampleInputFile">Upload Viedo</label>
				<hr/>
				<div class="input-group">
					<span class="input-group-addon">Title</span>
					<input type="text" class="form-control" name="VideoTitle">
				</div>
				<br>
				<span class="label" style="font-size:20px;">Video Description:</span>
				<div class="form-group" style="padding:5px; position:relative; top:10px;">
					<textarea name="VideoDiscribe" rows="5" placeholder="Please Enter Your Video Description:" style="width:100%;"></textarea>
				</div>
				<br>
				<div class="form-group">
					<div class="input-group" style="width:400px;">
						<input type="text" class="form-control" value="{{Video_Type}}" onfocus=this.blur()>
						<span class="input-group-btn">
						<div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Select Type<span class="caret"></span></button>
							<ul class="dropdown-menu" role="menu">
							{% for VideoType in Types %}
							<li><a href="#">VideoType</a></li>
							{% endfor %}
							</ul>
						</div>
						</span>
					</div><!-- /input-group -->
				</div>
				<div class="form-group" style="position:relative; top:-40px; left:500px;">
					<input type="file" id="exampleInputFile" name = "file" accept="video/*" value = {{UploadFile}} >
				</div>
				<p><input type=submit value="Submit" class="btn btn-default"  name=action></p>
			</form>
		</div>
	</div>	
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
